<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styple.css">

    <title>header</title>
</head>
<body>
    <nav><div class="nav_content">
        <div class="logo"><a href="home">JiebinZhou(Ben) <img src="/img/logo.jpeg" class="hello"></div>
            <label for="check" class="checkbox">
                <i class="ri-menu-line"></i>
            </label>
            <input type="checkbox" name="check" id="check">
            <ul>
                <li><a href="home">Home Page</a></li>
                <li><a href="about">About Me</a></li>
                <li><a href="products">Project Page</a></li>
                <li><a href="services">Services Page</a></li>
                <li><a href="contact">Contact Me</a></li>
            </ul>
    </div>
</nav>
</body>
</html>