<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styple.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') -%>
<section class="section">
    <div class="section_container">
        <div class="content">
            <p class="subtitle">Hello</p>
            <h1 class="title">
                I'm<span> JiebinZhou(Ben)<br>a</span> Software Engineering Technology
            </h1>
            <p class="description">
                Welcome to my personal porfolio
            </p>
        </div>
        <div class="image_home">
            <img src="/img/suc.jpg" alt="profile_home">
        </div>
    </div>
</section>
</body>
</html>

