<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styple.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') -%>

<div class="project_section">
    <div class="project_title">
        <h1>My Project</h1>
    </div>
    <div class="project">
        <div class="card_project">
            <div class="project_icon">
                <img src="/img/cal.png" alt="" class="image_cal">
            </div>
            <h2>C# Calculator</h2>
            <p>Using visual studio GUI applicaiton to create a basic scientific calculator</p>
            <a href="" class="project_button">Read More</a>
        </div>
        <div class="card_project">
            <div class="project_icon">
                <img src="/img/car2.png" alt="" class="image_car">
            </div>
            <h2>Arduino Car</h2>
            <p>The car is created by incorporate the different component such as wheels, batteries, clear wiring, etc.
                <br>And the software arduino system to control the movement and path of the car.
            </p>
            <a href="" class="project_button">Read More</a>
        </div>
        <div class="card_project">
            <div class="project_icon">
                <img src="/img/project.jpg" alt="" class="image_proj">
            </div>
            <h2>Robotic project</h2>
            <p>Implementation of software system,  mechanical design, electrical knowledge and 3D model all together.</p>
            <a href="" class="project_button">Read More</a>
        </div>
    </div>
</div>
</body>
</html>

