<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styple.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <nav><div class="nav_content">
        <div class="logo"><a href="#">JiebinZhou(Ben) <img src="/img/logo.jpeg" class="hello"></div>
            <label for="check" class="checkbox">
                <i class="ri-menu-line"></i>
            </label>
            <input type="checkbox" name="check" id="check">
            <ul>
                <li><a href="home">Home Page</a></li>
                <li><a href="about">About Me</a></li>
                <li><a href="products">Project Page</a></li>
                <li><a href="services">Services Page</a></li>
                <li><a href="contact">Contact Me</a></li>
            </ul>
    </div>
</nav>
<div class="services_section">
    <div class="services_title">
        <h1>My Services</h1>
    </div>
    <div class="services">
        <div class="card">
            <div class="services_icon">
                <i class="fas fa-server"></i>
            </div>
            <h2>Programming</h2>
            <p>Specialize in designing and developing custom web applications tailored to your unique business needs</p>
            <a href="" class="button">Read More</a>
        </div>
        <div class="card">
            <div class="services_icon">
                <i class="fas fa-gear"></i>
            </div>
            <h2>Mechanic Development</h2>
            <p>Specialize in integrating complex mechanical systems, ensuring seamless functionality and performance.</p>
            <a href="" class="button">Read More</a>
        </div>
        <div class="card">
            <div class="services_icon">
                <i class="fas fa-computer"></i>
            </div>
            <h2>Web Development</h2>
            <p>Specialize in creating custom websites tailored to your unique business needs</p>
            <a href="" class="button">Read More</a>
        </div>
    </div>
</div>
</body>
</html>

